h1 {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}


body {
    line-height: 1.6;
    padding: 4em 1em;
    max-width: 60em;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    background-color: aquamarine;
    color: black;
    text-align: justify;
   
  }

.omne {
    margin-top: 30px;
}

.foto {
    height: 270px;
    float: left;
    border-radius: 20px;
    margin-top: 1em;
    margin-left: 80px;
    margin-right: 50px;
    overflow: auto;
}

.ukol {
    font-style: italic;
}
