h1 {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}


body {
    height: 100px;
    line-height: 1.6;
    padding: 4em 1em;
    margin: 20px auto;
    max-width: 60em;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    background-color: aquamarine;
    color: black;
    text-align: justify;
   
  }

.omne {
    margin-top: 30px;
}

.foto {
    height: 270px;
    float: left;
    border-radius: 20px;
    border: rgb(89, 136, 224) solid 3px;
    margin-top: 1em;
    margin-left: 80px;
    margin-right: 50px;
    overflow: auto;
}

.links a {
    color: black;
}



.menu li {
    display: inline-block;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu a {
    color: black;
    display: inline-block;
    padding: 20px;
}

a:hover,
a:focus,
a:active {
    background-color: cornflowerblue;
}